In [1]:
from cosineOracle import CosineOracle
from calamity import Calamity

In [2]:
archive = Calamity('disaster-archive')

[+] New event stan had been added
[+] New event maria had been added
[+] New event matthew had been added
[+] New event katrina had been added
[+] New event irma had been added
[+] New event jeanne had been added
[+] New event kashmir had been added
[+] New event haiti had been added
[+] New event sumatra had been added
[+] New event sichuan had been added
[+] New event attica had been added
[+] New event thomas had been added
[+] New event nevada had been added
[+] New event carr had been added
[+] New event mountcarmel had been added
[+] New event virginiatech had been added
[+] New event sandyhook had been added
[+] New event aurora had been added
[+] New event sanbernardino had been added
[+] New event orlando had been added
[+] New event lasvegas had been added
[+] New event charliehebdo had been added
[+] New event japan18 had been added
[+] New event kerala had been added
[+] New event gujarat had been added
Object has been successfully loaded

In [3]:
archive.listTopics()

[('hurricanes', 'stan', 30),
 ('hurricanes', 'maria', 98),
 ('hurricanes', 'matthew', 100),
 ('hurricanes', 'katrina', 99),
 ('hurricanes', 'irma', 64),
 ('hurricanes', 'jeanne', 35),
 ('earthquakes', 'kashmir', 59),
 ('earthquakes', 'haiti', 100),
 ('earthquakes', 'sumatra', 86),
 ('earthquakes', 'sichuan', 100),
 ('wildfires', 'attica', 100),
 ('wildfires', 'thomas', 82),
 ('wildfires', 'nevada', 95),
 ('wildfires', 'carr', 100),
 ('wildfires', 'mountcarmel', 19),
 ('shootings', 'virginiatech', 100),
 ('shootings', 'sandyhook', 99),
 ('shootings', 'aurora', 100),
 ('shootings', 'sanbernardino', 97),
 ('shootings', 'orlando', 99),
 ('shootings', 'lasvegas', 100),
 ('shootings', 'charliehebdo', 100),
 ('floods', 'japan18', 101),
 ('floods', 'kerala', 100),
 ('floods', 'gujarat', 80)]

In [4]:
topics = [
    'hurricanes',
    'earthquakes',
    'wildfires',
    'shootings',
    'floods'
]

In [5]:
TRAIN_SIZE = 150
CHUNK = 200
temple_topics = []
for t in topics:
    data = archive.mergeTopicArticles(topicLabelArr=[t], limit=CHUNK)
    train_data = [x['text'] for x in data[:TRAIN_SIZE]]
    test_data = [x['text'] for x in data[TRAIN_SIZE:]]
    temple_topics.append(CosineOracle(train_data, test_data, t))

In [6]:
for x in temple_topics:
    print("%15s %.5f" % (x.tag, x.precision()))

     hurricanes 0.64000
    earthquakes 0.84000
      wildfires 0.54000
      shootings 0.70000
         floods 0.60000

In [7]:
events = [
    'maria',
    'matthew',
    'katrina',
    'haiti',
    'sumatra',
    'sichuan',
    'attica',
    'thomas',
    'nevada',
    'carr',
    'virginiatech',
    'sandyhook',
    'aurora',
    'sanbernardino',
    'orlando',
    'lasvegas',
    'charliehebdo',
    'japan18',
    'kerala'
]

In [8]:
TRAIN_SIZE = 50
CHUNK = 100
temple_events = []
for t in events:
    data = archive.mergeEventArticles(eventLabelArr=[t], limit=CHUNK)
    train_data = [x['text'] for x in data[:TRAIN_SIZE]]
    test_data = [x['text'] for x in data[TRAIN_SIZE:]]
    temple_events.append(CosineOracle(train_data, test_data, t))

In [9]:
for x in temple_events:
    print("%15s %.5f" % (x.tag, x.precision()))

          maria 0.79167
        matthew 0.66000
        katrina 0.77551
          haiti 0.78000
        sumatra 0.94444
        sichuan 0.88000
         attica 0.42000
         thomas 0.78125
         nevada 0.71111
           carr 0.88000
   virginiatech 0.86000
      sandyhook 0.73469
         aurora 0.68000
  sanbernardino 0.80851
        orlando 0.75510
       lasvegas 0.78000
   charliehebdo 0.80000
        japan18 0.56000
         kerala 0.74000